<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    Hi, my name is <img src="../img/icon_profile.jpg"/><a class="yuanqin fn url" href="http://github.com/lydie8773">
                    <span class="special-name">Yuanqin DENG</span></a>,
                    and I'm a IT support engineer working for <a class="decathlon fn url org" href="http://www.decathlon.com/" target="_blank"><img src="../img/decathlon.jpg"/></a>.
                    <br/>
                    My current location is in <span class="locality">Shanghai</span>, in
                    <span class="country-name">China</span>.
                    <br/>
                    I work on various ERP application, and am paid to work with passion for backend Java EE
                    application architecture.
                    <br/>
                    If you dig in my <img src="../img/github.png"/><a href="https://github.com/lydie8773" rel="me" class="github fn url" target="_blank"><span class="special-name">Github account</span></a>,
                    you will also find out that my sparetime life.
                    <br/>
                    You should probably also know that I do not have a sleep schedule, which means that I am usually
                    awake whenever there is work to do.
                    <br/>
                    You can also say "hi" to me on <img src="../img/twitter.png"/><a href="https://twitter.com/lydieXD" rel="me" class="twitter url" target="_blank"><span class="special-name">Twitter</span></a>,
                    where I post professional and personal thoughts, suggestions, rants and silly things that I find on the
                    intertubes.

                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>

</section>
